<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar">
      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left"><li class="divider"></li>
          <li><%= link_to "The Idea", page_path("idea") %></li><li class="divider"></li>
          <li><%= link_to "The Team", page_path("team") %></li><li class="divider"></li>
          <li><%= link_to "The Business", page_path("business") %></li><li class="divider"></li>
          <li><%= link_to "Building", page_path("building") %></li><li class="divider"></li>
          <li><%= link_to "Taxes & Fees", page_path("fees") %></li><li class="divider"></li>
          <li><%= link_to "Licenses", page_path("licenses") %></li><li class="divider"></li>
          <li><%= link_to "Summary", page_path("summary") %></li><li class="divider"></li><li>
        </ul>
      </section>
    </nav>

    <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>

    <div class="large-12 columns">
      <%= yield %>
    </div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>
